.info {
  background-color: #f0fff4;
  border-color: #4299e1;
  i {
    color: #4299e1;
  }
  color: #2b6cb0;
}

.success {
  background-color: #ebf8ff;
  border-color: #48bb78;
  i {
    color: #48bb78;
  }
  color: #2f855a;
}

.danger {
  background-color: #fff5f5;
  border-color: #f56565;
  i {
    color: #f56565;
  }
  color: #c53030;
}

// fa-info-circle
//fa-check-circle
//fa-times-circle
